* {
    box-sizing: border-box; /* Чтобы браузеры считали ширину и высоту элементов одинаково */
}

body {
    background: #010202;
    font-family: sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    width: 90%;
    max-width: 1146px; /* Максимальная ширина */
    margin: auto; /* Держит всегда шапку в середине */ 
    padding: 56px 0px; /* Сверху и снизу 56px, а по краям 0px */
    display: flex; /* Что бы картинка встала напротив логотипа */
    justify-content: space-between; /* Элементы разлетятся по краям */
    align-items: center; /* Аватар выравнивается по центру, относительно логотипа */
}

.logo {
    display: block;
}

.user-photo {
    width: 40px; /* Ширина */
    height: 40px; /* Высота */
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
}

.user-name {
    color: antiquewhite;
    font-size: 16px; /* Размер шрифта */
    line-height: 20px; /* Отступ сверху */
    margin-right: 15px/* Отступ имени от аватарки */
}

.app {
    background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 90%), url(image.png);
    min-height: 100vh;
    color: white;
}

.film {
    max-width: 1146px;
    margin: auto;
    padding: 7% 0;
    widows: 90%;
}

.description {
    max-width: 460px;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 36px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    opacity: 0.4;
    color: #E5E5E5;
    font-size: 16px;
    line-height: 140%;
}

.tags > * { /* Ко всем внутренним элементам */
    margin-right: 15px;
    margin-bottom: 10px;
}

.button {
    padding: 11px 26px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    background: #2F2F2F;
    color: white;
    cursor: pointer;
}

.button-primary {
    background-color: #EA6E20;
    margin-right: 15px;
}


.age {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1px 5px; /* Отступ сверху и снизу 1 px, а по краям 5 px */
}

.button-text {
    margin-left: 10px;
    vertical-align: text-bottom;
}
 


@media (max-width: 768px){
    .app {
        height: auto;
        padding-bottom: 400px;
        background: url('../IMG/cover-image.jpg') no-repeat bottom center /300px;
    }

    video {
        display: none;
    }

    .film {
        padding-top: 2%;
    }

    .description {
        font-size: 16px;
        max-width: 333px;
    }

    .film-logo {
        max-width: 100%;
    }

    @media (max-width: 576px) {
        .button-text {
            display: none;
        }
        
        .user-name {
            display: none;
        }
        

        .app {
            padding-bottom: 400px;
            background-size: 300px;
        }
        .button {
            padding-bottom: 10px;
        }
    }
}